body{
    background-color:rgb(174, 174, 245);
    background-attachment: fixed;
    width: 100%;
    background-image: url(../HTML/bg-1.png);
    background-repeat: no-repeat;
}
header{
    margin-left:300px;
    margin-right: 300px;
}
#ancre{
    width:40px;
    position:fixed;
    margin-left: 1100px;
    margin-top: 350px;
    background-color: black;
}
#couleurchevron{
    fill:white;
}
#container{
    background-color: white;
    margin-top: 450px;
}
#section1{
    margin-top:15px;
    width:40%;
    margin-left: 55px;
    margin-right: 7px;
}
#callus{
    margin-top: 150px;
    color: red;
    border:none;
    height:35px;
}
h1{
    font-size:215%;
}
p{
    color:gray;
}

#mailForm{
    position:absolute;
}
form>div>button{
    background-color:blue;
    color: white;
    margin-left: -50px;
    border: none;
    padding: 7px 25px;
}
form>div>img{
    position: absolute;
    margin-top: 18px;
    margin-left: 6px;
}
form>div>button:hover{
   padding: 25px 45px;
}
form>div>input{
    border:none;
    Padding: 15px 30px;
}
section{
    margin: 0px 300px;
}
#section2>div{
    display: inline-block;
    margin: 0px 50px;
}
#select1>div{
    display:inline-block;
}
#mobile:hover{
    box-shadow: gray 10px 10px;
}
#pc:hover{
    box-shadow: gray 10px 10px;
}      
#mobile{
    background-color: white;
    width: 35%;
    border-top: solid 5px blue;
    margin-top:-50px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 35px;
    border-radius: 7px;  
}
#pc{
    background-color: white;
    width: 35%;
    border-top: solid 5px red;
    margin-top:-50px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 35px;
    border-radius: 7px;
}
#mobile>button{
    border:none;
    color:blue;
    border-radius: 2PX;
    background-color: rgb(196, 166, 252);
    padding:7px;
}
#pc>button{
    border:none;
    border-radius: 2px;
    color:red;
    background-color: rgb(252, 151, 151);
    padding:7px;
}
#select2>div:hover{
        box-shadow: gray 10px 10px;
}
#select2>div{
    background-color: white;
    width: 35%;
    height: 250px;
    margin-top:65px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 35px;
    border-radius: 7px;
    display:inline-block;
}
#select3>div{
    background-color: white;
    width: 35%;
    height: 250px;
    margin-top:100px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 35px;
    border-radius: 7px;
    display:inline-block;
}
#select3>div:hover{
    box-shadow: gray 10px 10px;
}
#section3>div{
    margin: 0px 300px
}
#center{
    width: 60%;
    background-color: white;
    margin-left: 19px;
    margin-right: 15px;
    padding: 32px;
    border-radius: 7px;
    text-align: center;
}
#center:hover{
    box-shadow: gray 10px 10px;
} 
#article{
    width: 100%;
}
article{
    background-color: white;
    width: 18%;
    margin-top:100px;
    margin-left: 19px;
    margin-right: 0px;
    padding: 35px 3px;
    border-radius: 7px;
    display:inline-block;
    margin-bottom: 75px;
}
#section3{
    margin-left:40px;
    margin-top:100px;
}
h6{
    color:rgb(119, 119, 241);
}
h5{
    color:gray;
}
article>button{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top:25px;
}
article:hover{
    box-shadow: gray 10px 10px;
    border-top: solid 5px blue;
}

footer{
    width: 100%;
    background-color:rgb(174, 174, 245);
    text-align: center;
}
#action{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top:25px; 
}
#pied{
    text-align: left;
    margin-left: 200px;
}
